<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Check My Weather!!</title>
    </head>
    <body>
        <h1>Enter City's Name to get Forecast!</h1>
        <form action = "/getforecast/" method= "POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Check</button>
        </form>
        <form  action = "/getforecastip/" method = "POST">
            {% csrf_token %}
            <button  type="submit">Location</button>
        </form>
        <form  action = "/" method = "POST">
            {% csrf_token %}
            <button   type="submit">Current</button>
        </form>
    </body>
</html>
