h1 {
   color : rgb(153, 0, 38);
   font-family: 'Lobster'; margin-left : 300px;
   margin-top : 70px;
}

body {
     background-color: #FF9A33;
     //padding-left: 400px;
     //padding-top: 50px;
 }

.check_button {
     margin-left : 500px;

}

.location_button {
     margin-left : 450px;
}

.current_button {
     margin-left : 100px;
     margin-top : 20px;
}