<!--<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <label>IP: {{ ip_json.ip }}</label><br>
        <label>City: {{ ip_json.city }}</label><br>
    </body>
</html>
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <label>IP: {{ ip_json.ip }}</label><br>
        <label>City: {{ ip_json.city }}</label><br>
    </body>
</html>